<%- include('template/cabecera', {tituloWeb: 'Página inicio' }) %>

  <h1 class="text-primary">titulo index.ejs</h1>
  <!-- clase bootstrap -->
  <h2>
    <%= titulo %>
  </h2>
  <!-- viene de app.js -->

<%- include('template/footer') %>